@charset "UTF-8";
/* 이렇게하면 주석됨 */
.box1 {
  border: 2px dashed black;
  background: gray;
}

.box2 {
  border: 1px solid red;
  background: yellow;
  font-size: 24px;
}

.box1 {
  font-size: 16px;
}

.box2 {
  font-size: 32px;
}

.box3 {
  font-size: 48px;
}
